*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #efe089;
    color: rgb(74, 45, 3);
}

nav{
    background-color: #d3bd4c;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: rgb(249, 241, 223);
    padding: 10px;
}

a:hover{
    background-color:rgb(168, 146, 74);
    padding-top: 31px;
	padding-bottom: 27px;
}

.Title:hover{
    background-color:rgb(168, 146, 74);
    padding-top: 31px;
	padding-bottom: 20px;
}

h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#main{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    justify-content:space-around ;
    text-align: center;
}

.fa-solid{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    background-color: #ac8505;
    padding: 30px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 360px;
}

.fa-phone{
    padding-left: 31px;
    padding-right: 32px;
}

.fa-message{
    padding-left: 31px;
    padding-right: 32px;
}

h3{
    font-family:cursive;
    font-size: 26px;
}

h5{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    font-size: 20px;
    padding: 7px;
}

.fa-solid:hover{
    overflow: hidden;
    cursor: pointer;
    filter: brightness(0.9);
}

::selection{
    background-color: #ac8505;
    color: aliceblue;
}